.nav_top {
  height: 100rpx; // border: 1rpx solid #b2b2b2;
  background: #fff;
  display: flex;
  justify-content: space-around;
  line-height: 100rpx;
}
.scroll_view{
  height: 250px;
  background: #fff;
}
.scroll_view_top{
  height: 100rpx;
  background: #fff;
  margin-bottom: 1rpx;
  line-height: 100rpx;
  padding-left: 30rpx;
}
.news_tabs-view{
  padding-left: 30rpx;
  font-size: 14px;
  margin-top: 10rpx;
  border-bottom: 1rpx #efeff4 solid;
  overflow: hidden;
  .news_tabs_view_date{
    float: right;
    color: #999;
    margin-right: 30rpx;
  }
}
.scroll_view_main{
  margin-bottom: 100rpx;
}